/* CSS Variables */
:root {
  --primary-color: #005f73;
  --secondary-color: #0a9396;
  --accent1-color: #94d2bd;
  --accent2-color: #ee9b00;
  --heading-font: 'Bebas Neue', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

/* Reset Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: #fff;
}

/* Centered Layout for Main Structure */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Heading Styles */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Base Margin and Padding for Content Sections */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Remove Underline from Social Media Links */
.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 32px;   /* or 24px if you want smaller icons */
  height: 32px;
}

/* Hero Section */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px;
  overflow: hidden;
}

/* Hero Image */
.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hero Title */
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #472756;
  font-size: 2rem;
}

/* Article Positioning */
.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 16px;
  border-radius: 8px;
}

.hero article p {
  color: #ffffff;
  background-color: rgba(54, 112, 122, 0.7); /* 70% opacity */
  padding: 12px;
  border-radius: 8px;
}


/* Article Image */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 12px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
  color: #000;
}
